@import "tailwindcss";

@theme {
  --font-family-primary: var(--font-grotesk);
  --font-family-secondary: var(--font-garamond);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary:var(--secondary);
  --color-accent: var(--accent);
}

:root {
--background: #1B1C22;
--primary: #DADCE5;
--secondary: #2B2D36;
--accent: #4A5FD1;    
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: var(--font-family-primary);
}
input:focus {
  outline: none !important;
}